.deadline {
   color: var(--colorNeutralForeground2);
   font-size: 0.75em;
   line-height: 1;
   display: flex;
   align-items: center;
}

.deadline svg {
   margin-right: 0.5em;
   width: 1.25em;
   height: 1.25em;
}
